:root{
    --mainGreenColor:#71A894;
    --mainGreyLight:#E5E5E5;;
    --mainGreyLight2:#E7E7E7;
    --mainTextBlack:#303031;
    --mainTextGray:#66645E;

    --fontRoboto:'Roboto', sans-serif;
    --fontOpenSans:'Open Sans', sans-serif;

}